{% load sekizai_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/js/html5shiv.js"></script>
      <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    {% render_block "css" %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="/static/jquery/js/jquery-1.10.2.min.js"></script>
    {% render_block "js" %}
  </body>
</html>
