{% load sekizai_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- лоудеры для кнопок -->
  <link href="/static/ladda/css/ladda-themeless.min.css" rel="stylesheet">
  <link href="/static/custom/css/style.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/js/html5shiv.js"></script>
      <script src="/static/bootstrap/js/respond.min.js"></script>
      <![endif]-->
      {% render_block "css" %}
    </head>
    <body ng-app="App" ng-controller="MainCtrl">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Переключение навигации</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ company_name }}</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li><a href="#">Link</a></li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
              {% else %}
                <li><a href="{% url 'auth_login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
              {% endif %}
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск">
              </div>
            </form>

          </div>
        </div>
      </nav>

      {% block content %}{% endblock %}

      <script src="/static/vendor/js/underscore-min.js"></script>
      <script src="/static/vendor/js/jquery-1.10.2.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>

      <!-- лоудеры для кнопок -->
      <script src="/static/ladda/js/spin.min.js"></script>
      <script src="/static/ladda/js/ladda.min.js"></script>

      <script src="/static/vendor/js/angular-1.2.1.min.js"></script>
      <script src="/static/vendor/js/angular-route-1.2.1.min.js"></script>
      <script src="/static/custom/js/app.js"></script>
      {% render_block "js" %}
    </body>
    </html>
