{% extends "base.html" %}
{% load sekizai_tags %}

{% block title %}Ошибка активации{% endblock %}

{% block content %}
<div class="container">
    <div class="row" ng-controller="RegisterCtrl">

        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Ошибка!</strong> Истек срок в течении которого необходимо подтвердить регистрацию. Вам необходимо повторно <a href="{% url 'registration_register' %}" class="alert-link">Зарегистрироваться</a>.
            </div>
        </div>

    </div>
</div>
{% endblock %}