{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="container">
    <div class="row" ng-controller="RegLoginCtrl">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel" ng-class="{'panel-primary': !loading, 'panel-default': loading}">

                <div class="panel-heading">
                    <h3 class="panel-title" ng-class="{disabled_title: loading}">Пожалуйста авторизуйтесь</h3>
                </div>

                <div class="panel-body">
                    <form role="form" novalidate>{% csrf_token %}
                        <fieldset ng-disabled="loading">
                            {% for field in form %}
                            <div class="form-group" ng-form="{{ field.html_name }}">
                                {{ field }}
                            </div>
                            {{ field.errors }}
                            {% endfor %}
                            <input class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit('{{ request.get_full_path }}')" value="Войти">
                            <br />
                            <a href="{% url 'registration_register' %}" ng-show="!loading" class="pull-right">Регистрация</a>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}