{% extends "base.html" %}
{% load sekizai_tags %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container" ng-controller="RegisterCtrl">

    <!-- Ошибки которые приходят с сервера после сабмита -->
    <div class="row" ng-show="form_errors.__all__">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span ng-repeat="error in form_errors.__all__">
                    [% error %]<br />
                </span>
            </div>
        </div>
    </div>

    <!-- Форма регистрации -->
    <div class="row">

        <div class="col-md-4 col-md-offset-4" ng-show="!message">
            <div class="panel" ng-class="{'panel-primary': !loading, 'panel-default': loading}">

                <div class="panel-heading">
                    <h3 class="panel-title" ng-class="{disabled_title: loading}">Регистрация</h3>
                </div>

                <div class="panel-body">
                    <form name="reg_form" role="form" novalidate ng-submit="submit('{% url 'registration_register' %}')">{% csrf_token %}
                        <fieldset ng-disabled="loading">

                            <div class="form-group relative" ng-form="for_username">
                                <input type="text" ng-model="user.username" name="username" ng-maxlength="30" ng-pattern="/^[a-zA-z -]+$/" class="form-control" autofocus required server="false0" placeholder="Имя" />
                                <ul class="field_error" ng-show="for_username.$dirty && for_username.$invalid">
                                    <!-- <li ng-repeat="err in for_username.$error.server">[% err %]</li> -->
                                    <li ng-show="for_username.$error.server">[% for_username.$error.server %]</li>
                                    <li ng-show="for_username.$error.required">Обязательное поле</li>
                                    <li ng-show="for_username.$error.pattern">Допускаются только латинские буквы, цифры и символы @ . + - _</li>
                                    <li ng-show="for_username.$error.maxlength">Не более 30 символов</li>
                                </ul>
                                <!-- <ul class="field_error" ng-show="form_errors.username">
                                    <li ng-repeat="err in form_errors.username">[% err %]</li>
                                </ul> -->
                            </div>

                            <div class="form-group relative" ng-form="for_email">
                                <input type="text" ng-model="user.email" name="email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" class="form-control" required placeholder="E-mail" />
                                <ul class="field_error" ng-show="(for_email.$dirty && for_email.$invalid) || form_errors.email">
                                    <li ng-show="form_errors.email">[% form_errors.email %]</li>
                                    <li ng-show="for_email.$error.required">Обязательное поле</li>
                                    <li ng-show="for_email.$error.pattern">Введите валидный адрес e-mail</li>
                                </ul>
                            </div>

                            <div class="form-group relative" ng-form="for_password1">
                                <input type="password" ng-model="user.password1" name="password1" ng-minlength="4" class="form-control" required placeholder="Пароль" />
                                <ul class="field_error" ng-show="for_password1.$dirty && for_password1.$invalid">
                                    <li ng-show="for_password1.$error.required">Обязательное поле</li>
                                    <li ng-show="for_password1.$error.minlength">Пароль не менее 4 символов</li>
                                </ul>
                                <ul class="field_error" ng-show="form_errors.password1">
                                    <li ng-repeat="err in form_errors.password1">[% err %]</li>
                                </ul>
                            </div>

                            <div class="form-group relative" ng-form="for_password2">
                                <input type="password" ng-model="user.password2" name="password2" equal-password class="form-control" placeholder="Пароль (ещё раз)" />
                                <ul class="field_error" ng-show="(for_password2.$dirty && for_password2.$invalid) || form_errors.password2">
                                    <li ng-show="form_errors.password2">[% form_errors.password2 %]</li>
                                    <li ng-show="for_password2.$error.equalpassword">Пароли не совпадают</li>
                                </ul>
                            </div>

                            <button id="reg_btn" type="button" class="btn btn-lg btn-block btn-primary ladda-button" data-style="zoom-in" ng-disabled="reg_form.$invalid" ng-click="submit('{% url 'registration_register' %}')">
                                <span class="ladda-label">Готово</span>
                                <span class="ladda-spinner"></span>
                            </button>

                        </fieldset>
                        <input style="display:none" type="submit" value="" />
                    </form>
                </div>

            </div>
        </div>

        <!-- Ответ сервера после сабмита -->
        <div class="col-md-10 col-md-offset-1" ng-show="message">
            <div class="alert alert-dismissable" ng-class="{'alert-success': ajax_success, 'alert-danger': ajax_error}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong ng-show="ajax_success">Отлично!</strong><strong ng-show="ajax_error">Ошибка!</strong> [% message %]
            </div>
        </div>

    </div>
</div>
{% endblock %}